/* * {
  background-color: #0802a3;
  color: #ff4b91;
  background-color: #ff7676;
  color: #ffcd4b;
} */

.custom-navbar {
  background-color: #ff4b91;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  width: 5%;
  justify-content: space-between;
  align-items: center;
}

.navbar-text {
  color: white !important;
}

.navbar-link {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.social-links {
  width: 150px;
  margin: 0;
}

#linkedin-icon {
  fill: white;
}

.blue-bar {
  color: #060271;
  font-weight: 900;
}

.hero {
  position: relative;
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #060271;
  background-blend-mode: lighten;
  filter: brightness(1) opacity(0.7) contrast(105%) blur(0.8px) grayscale(14%);
}

.hero-heading {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  z-index: 5;
  color: white;
}

.main-container {
  width: 90%;
  min-height: 30vh;
  margin: auto;
  position: relative;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.background {
  background-color: #ff7676;
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* ***HOVER ANIMATION*** */

.video-card {
  height: 200px;
  width: 350px;
  margin: 15px;
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.caption {
  width: 350px;
  height: 200px;
  z-index: 4;
}
.video-card:hover .caption {
  opacity: 1;
}
.video-card:hover img {
  opacity: 1;
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
}
.video-card img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 0;
  width: 100%;
}
.video-card .caption {
  background-color: rgb(255, 205, 75, 0.6);
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.video-card img {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.video-card .caption-text h2 {
  text-transform: uppercase;
  font-size: 24px;
}
.video-card .caption-text {
  color: #fff;
  position: absolute;
  width: 350px;
  height: 200px;
  text-align: center;
  top: 100px;
}

.footer-container {
  width: 100%;
  height: 20vh;
  /* background-color: #ff4b91; */
  margin-top: 10vh;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: white !important;
}

.footer-text {
  color: white;
  width: 100%;
  text-align: center;
}
