/* * {
  background-color: #0802a3;
  color: #ff4b91;
  background-color: #ff7676;
  color: #ffcd4b;
} */

@font-face {
  font-family: Antarctic;
  src: url("assets/fonts/antarcticanheadline-bold-webfont.woff2")
      format("woff2"),
    url("assets/fonts/antarcticanheadline-bold-webfont.woff") format("woff");
}

.w-80 {
  width: 80%;
}

.custom-navbar {
  background-color: #ff4b91;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navbar-nav {
  width: 5%;
  justify-content: space-between;
  align-items: center;
}

.navbar-text {
  color: white !important;
  font-family: Antarctic;
}

.navbar-link {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.social-links {
  width: 150px;
  margin: 0;
}

#linkedin-icon {
  fill: white;
}

.navbar-brand {
  font-size: 40px;
  margin: 0;
}

.blue-bar {
  color: #ffcd4b;
  font-style: normal;
}

.links-container {
  position: absolute;
  right: 60px;
  display: flex;
  justify-content: space-between;
}

.hero {
  position: relative;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #060271;
  background-blend-mode: lighten;
  filter: brightness(1) opacity(0.7) contrast(105%) blur(0.8px) grayscale(14%);
}

.hero-heading {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  z-index: 5;
  color: #ffcd4b;
  font-family: Antarctic;
  font-style: italic;
  font-size: 50px;
}

.main-container {
  min-height: 30vh;
  margin: auto;
  position: relative;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.background {
  background-color: #ff7676;
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* ***HOVER ANIMATION*** */

.video-card {
  height: 200px;
  width: 300px;
  margin: 15px;
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.caption {
  width: 300px;
  height: 200px;
  z-index: 4;
}
.video-card:hover .caption {
  opacity: 1;
}
.video-card:hover img {
  opacity: 1;
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
}
.video-card img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 0;
  width: 100%;
}
.video-card .caption {
  background-color: rgb(255, 205, 75, 0.6);
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.video-card img {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.video-card .caption-text {
  color: #fff;
  position: absolute;
  width: 300px;
  height: 200px;
  top: 100px;
}

.mr-3 {
  margin-right: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.modal-content {
  height: 70vh;
  background-color: #05034a;
}

.modal-header {
  border-bottom: none;
  padding: 20px 20px 0 20px;
}

.modal-title {
  font-family: Antarctic;
  color: white;
  font-size: 30px;
}

.modal-body {
  padding: 0;
}

.form-container {
  display: flex;
}

.form-label {
  width: 100%;
  color: white;
}

.form-input {
  width: 80%;
  border-radius: 10px;
}

.submit-btn {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: none;
  border: none;
  font-size: 22px;
  color: #ff4b91;
  font-weight: bolder;
}

.submit-btn:hover {
  background-color: #ffcd4b;
}

.footer-container {
  width: 100%;
  margin-top: 10vh;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: white !important;
}

.footer-text {
  color: white;
  width: 100%;
  text-align: center;
}

.developed {
  font-size: 10px;
}

.developer-link {
  text-decoration: none;
  cursor: pointer;
  color: #ffcd4b !important;
}
