@font-face {
  font-family: Antarctic;
  src: url("assets/fonts/antarcticanheadline-bold-webfont.woff2")
      format("woff2"),
    url("assets/fonts/antarcticanheadline-bold-webfont.woff") format("woff");
}

body {
  margin: 0;
  background-color: #060271;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
